<p style="color: green"><%= notice %></p>
<%= render @post %>
<div>
  <%= link_to "Back to posts", posts_path %>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="d-flex justify-content-between">
      <%= button_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %> 
      <%= button_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
